@use 'scss-reset';

body {
  background-color: #272727;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ml-auto {
  margin-left: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center !important;
}
.mb-2 {
  margin-bottom: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1be8f;
}

.modal-opened {
  overflow: hidden !important;
}

.modal {
  &-button {
    text-wrap: nowrap;
    background: #d1be8f;
    border: 2px solid #d1be8f;
    border-radius: 24px;
    padding: 12px 24px;
    color: #181818;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  &-price {
    color: #fff;
    font-size: 21px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: bold;
    }
  }
}